<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get start</title>
<link rel="stylesheet" type="text/css" href="./getstart.css"/>
</head>

<body>
  <!-- For purpose convert to js only =))))) -->
<div id="getstarted">Get started</div>
<div id="intro"><span>Sign up</span> to our website and start to explore your unique style today !</div>
<div class="center">
      <form method="post">
          
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
          
          <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Email</label>
        </div>
          
          <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Phone number</label>
        </div>
          
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
          
          <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Confirm Password</label>
        </div>
          <div id="general">
          <div class="signup_link">
          Don't have an account? <a href="#">Signup</a>
        </div>
        <input type="submit" value="Learn More">
        </div>
      </form>
    </div>
    <div id="sex">Sex</div>
    <div id="button">
     
        <input type="radio" name="gender">
        <label for="male"></label>
        <span>Male</span>
        <input type="radio" name="gender">
        <label for="female"></label>
        <span>Female</span>
      
    </div>
    <div class="rect1">
      <button class="button" type="button"><img src="shop 1.png"></img></button>
    </div>
    <div class="rect2">
      <button class="button" type="button"><img src="take-away.png"></img></button>
      
    </div>
    <form>
        
    </form>
</body>
</html>
