
html,body{
width: 1440px;
height: 900px;
        
    }
#getstarted {
position: relative;
top: 131px;
left: 211px;
font: 65px "Inter Regular Black";
color: #04294D;
}
    
#intro {
position: absolute;
font: 14px "Inter Regular Black";
top: 236px;
left: 211px;
color: #025588;

}
#intro span{
    font-weight: bold;  
}
.center{
position: absolute;
top: 260px;
left: 211px;

width: 594px;
background-color: transparent;
}

.center form{
position: absolute;

box-sizing: border-box;
}
form .txt_field{
position: relative;
border-bottom: 2px solid #c4c4c4;
margin:44px 0;
width: 594px;
}
.txt_field input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
}
.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}

.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #2691d9;
transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}
.pass{
margin: -5px 0 20px 5px;
color: #a6a6a6;
cursor: pointer;
}
.pass:hover{
text-decoration: underline;
}
input[type="submit"]{
position:absolute;
width: 337px;;
height: 72px;
border: 1px solid;
left:130px;
background:  #025588;
border-radius: 25px;
font-size: 18px;
color: #e9f4fb;
font-weight: 700;
cursor: pointer;
outline: none;
}
input[type="submit"]:hover{
border-color: #2691d9;
transition: .5s;
}
.signup_link{ 
margin: 30px 0;
text-align: center;
font-size: 16px;
color: #666666;
}
.signup_link a{

color: #2691d9;
text-decoration: none;
}
.signup_link a:hover{
text-decoration: underline;
}
    #general{
        position: relative;
        left:350px;
    }
    #sex{
    position: relative;
    top: 230px;
    left: 900px;
    font: 16px "Inter Regular Black";
    color: #828282
    }
    #button input{
    position: relative;
   
    top: 250px;
    left: 892px;
    height: 16px;
    border: 2px;

    }
    #button label{
        position: relative;
      
        padding-left: 132px;
    }
    #button span{
        position: relative;
        top: 250px;
        left: 770px;
    }
    .rect1 button{
    position: relative;
    border:none;
    
    width :150px;
    height: 150px;
    left:900px;
    top: 380px;
    background:rgba(89, 185, 219, 0.25);
    border-radius: 24px;
    
 }

 .rect1 button::after{
    content: '';
    border-radius: 24px;
    position: absolute;  
    opacity:0;
}
.rect1 button:hover{
    -webkit-transform:scale(1.05, 1.05) ;
    transform:scale(1.15, 1.15);
    /* box-shadow: 0px 50px 60px 0px #59B9DB; */
    box-shadow: 0px 24px 64px rgba(89, 185, 219, 0.25);
    
}
.react1 button:hover::after{
    opacity:1;
    cursor: pointer;
}
.rect1 button:focus{
 border:3px solid blue;
}

 .rect1 img{
    position: relative;
    max-width:100%;
    max-height:100%;
 }
   .rect2 button{
       position: relative;
       width :150px;
       height: 150px;
       left:1110px;
       top: 230px;
       background:rgba(89, 185, 219, 0.25);
       border-radius: 24px;
       border:none;
       
   }
   #rect2 button::after{
    content: '';
    border-radius: 24px;
    position: absolute;  
    opacity:0;
}
.rect2 button:hover{
    -webkit-transform:scale(1.05, 1.05) ;
    transform:scale(1.15, 1.15);
    box-shadow: 0px 50px 60px 0px #59B9DB;
    cursor: pointer;
}
.react2 button:hover::after{
    opacity:1;
    cursor: pointer;
}
   .rect2 img{
    position: relative;
    max-width:100%;
    max-height: 100%;
    
}
.rect2 button:focus{
border:3px solid blue;
}