<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="uploadItem.scss">
  <title>Document</title>
</head>
<body>
    <div className='backGround'>
        <div className="loginForm">
            <form action="GET" className="inputForm" onSubmit={handleSubmit}>
                <div className="header">
                    <h2> Ready to find your  </h2>
                    <h1> Teaching Assistant ?</h1>
                    <b> Sign up to our website and start to find your tutor to improve your score today ! </b>
                </div>
                <div className="row">
                    <div className="column-left">
                        <div className="field">
                            <input
                                type="text"
                                name="Name"
                                id="fullname"
                                placeholder="Ex: Nguyen Giang Ngoc Tram"
                                required />
                            <label>Full Name</label>
                        </div>

                        <div className="field">
                            <input type="email" name="Email" id="email" placeholder="Enter email" required />
                            <label>Email</label>
                        </div>

                        <div className="field">
                            <input type="number" name="Phone" className="form-input" placeholder="Enter phone number"></input>
                            <label>Phone Number</label>
                        </div>

                        <div className="field">
                            <select NAME="d_id">
                                <option VALUE=""> Choose your faculty </option>
                           
                                    </option>
                            </select>
                            <label>Department</label>
                        </div>
                    </div>

                    <div className="column-right">
                        <div className="field">
                            <input
                            
                                name="Password"
                                id="password"
                                placeholder="Enter password"
                                onChange={handleChange} required />
                            <label> Password </label>
                            <!-- <img src={showPw} width={24} onClick={() => setShowPassword(!showPassword)}
                                style={{ filter: showPassword ? 'none' : 'grayscale(100%)' }}></img> -->
                        </div>

                        <label>Role</label>
                        <div class="radio-item">
                            <input type="radio" id="ritema"
                                name="Role" value="Student"
                                onChange={handleChange} checked />
                            <label for="ritema">Student</label>
                        </div>

                        <div class="radio-item">
                            <input type="radio" id="ritemb"
                                name="Role" value="T.A"/>
                            <label for="ritemb">Teaching Assistant</label>
                        </div>
                    </div>
                </div>
                <h6> By continuing, you agreed to Term of use, and confirmed that you had read our FinnTa's Privacy policy. </h6>
                <div className="Container">
                    <input type="submit" value="Sign up" />
                </div>
            </form>
            <p>Already have an account? <Link to='/login'>Sign in</Link></p>
        </div>
    </div>
</body>
</html>