@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --primaryBlue: #025588;
  --primaryPink: #FF7897;
  --white: #ffff;
  --lightgray: #F2F5FA;
  --secondaryBlue: #DCF9FF;
  --fontcolor: #4F5665;
  --fontcolorlight: #828282;
  --maxwidth: 1440px;
}
@mixin fontStyle($weight, $size, $height) {
  font-family: Inter;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
.collapsible .content {
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid rgb(113, 150, 194);
    border-bottom-style: dotted;
  }
  .collapsible .header {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    > .title {
      @include fontStyle(500, 16px, 16px);
    }
    > .icon {
      color: var(--primaryBlue);
      margin-right: 20px;
    }
  }
  
  .preferences label {
    display: block;
    padding-bottom: 4px;
  }