#getstarted {
    position: absolute;
    top: 131px;
    left: 14vw;
    font: 65px "Inter Regular Black";
    color: #04294D;
    }
        
    #intro {
    position: absolute;
    font: 14px "Inter Regular Black";
    top: 236px;
    left: 14vw;
    color: #025588;
    
    }
    #intro span{
        font-weight: bold;  
    }
    .center{
    position: absolute;
    
    left: 14vw;
    top:250px;
    width:14vw;
    background-color: transparent;
    }
    
    .center form{
    position: absolute;
    top:0px;
 
    
    box-sizing: border-box;
    }
    form .txt_field{
    position: relative;
    border-bottom: 2px solid #c4c4c4;
    margin: 44px 0;
    width: 45vw;
    top:10px;
    }
    .txt_field input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
        }
        .txt_field label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        }
        
        .txt_field span::before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #2691d9;
        transition: .5s;
        }
        .txt_field input:focus ~ label,
        .txt_field input:valid ~ label{
        top: -5px;
        color: #2691d9;
        }
        .txt_field input:focus ~ span::before,
        .txt_field input:valid ~ span::before{
        width: 100%;
        }
        .txt_field input{
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 16px;
            border: none;
            background: none;
            outline: none;
            }
            .txt_field label{
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadad;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            transition: .5s;
            }
            
            .txt_field span::before{
            content: '';
            position: absolute;
            top: 40px;
            left: 0;
            width: 0%;
            height: 2px;
            background: #2691d9;
            transition: .5s;
            }
            .txt_field input:focus ~ label,
            .txt_field input:valid ~ label{
            top: -5px;
            color: #2691d9;
            }
            .txt_field input:focus ~ span::before,
            .txt_field input:valid ~ span::before{
            width: 100%;
            }
    .password1 {
    position:relative;
    transform: translate(43vw,-70px);
    cursor: pointer;
    
    }
    
    .confirm {
        position:relative;
        transform: translate(43vw,-10px);
        cursor: pointer;
        
    }
    form .txtfield_1{
        position: absolute;
        border-bottom: 2px solid #c4c4c4;
        margin: 44px 0;
        width: 45vw;
        top:360px;
    
        }
    .txtfield_1 input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    }
    .txtfield_1 label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    }
    
    .txtfield_1 span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
    }
    .txtfield_1 input:focus ~ label,
    .txtfield_1 input:valid ~ label{
    top: -5px;
    color: #2691d9;
    }
    .txtfield_1 input:focus ~ span::before,
    .txtfield_1 input:valid ~ span::before{
    width: 100%;
    }
    .txtfield_1 input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
        }
        .txtfield_1 label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        }
        
        .txtfield_1 span::before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #2691d9;
        transition: .5s;
        }
        .txtfield_1 input:focus ~ label,
        .txtfield_1 input:valid ~ label{
        top: -5px;
        color: #2691d9;
        }
        .txtfield_1 input:focus ~ span::before,
        .txtfield_1 input:valid ~ span::before{
        width: 100%;
        }

    .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
    }
    .pass:hover{
    text-decoration: underline;
    }
    #general {
        position: absolute;
        top:20px;
        left:58vh;
    }
    input[type="submit"]{
    position:absolute;
    top:700px;      
    width: 337px;;
    height: 72px;
    border: 1px solid;
 
    background:  #025588;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    }
    input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
    }
    .signup_link{ 
    position: absolute;
    top:650px;
    width: 245px;
    left: 55px;
    font-size: 16px;
    color: #666666;
    }
    .signup_link a{
    
    color: #2691d9;
    text-decoration: none;
    }
    .signup_link a:hover{
        text-decoration: underline;
        }
        #rightside{
            position: absolute;
        }
        #sex{
        position: relative;
        top: 300px;
        left: 62vw;
        font: 16px "Inter Regular Black";
        color: #828282
        }
        #button input{
        position: relative;
       
        top: 330px;
        left: 61vw;
        height: 16px;
        border: 2px;
    
        }
        #button label{
            position: relative;
            
            padding-left: 132px;
        }
        #button span{
            position: relative;
            top: 330px;
            left: 54vw;
        }
        .rect1 button{
        position: relative;
        border:none;
        
        width :150px;
        height: 150px;
        left:62vw;
        top: 450px;
        background:rgba(89, 185, 219, 0.25);
        border-radius: 24px;
        
     }
    
     .rect1 button::after{
        content: '';
        border-radius: 24px;
        position: absolute;  
        opacity:0;
    }
    .rect1 button:hover{
        -webkit-transform:scale(1.05, 1.05) ;
        transform:scale(1.15, 1.15);
        /* box-shadow: 0px 50px 60px 0px #59B9DB; */
        box-shadow: 0px 20px 64px #59B9DB;;
        
    }
    .react1 button:hover::after{
        opacity:1;
        cursor: pointer;
    }
    .rect1 button:focus{
     border:3px solid blue;
    }
    
     .rect1 img{
        position: relative;
        max-width:100%;
        max-height:100%;
     }
       .rect2 button{
           position: relative;
           width :150px;
           height: 150px;
           left:75vw;
           top: 300px;
           background:rgba(89, 185, 219, 0.25);
           border-radius: 24px;
           border:none;
           
       }
       #rect2 button::after{
        content: '';
        border-radius: 24px;
        position: absolute;  
        opacity:0;
    }
    .rect2 button:hover{
        -webkit-transform:scale(1.05, 1.05) ;
        transform:scale(1.15, 1.15);
        box-shadow: 0px 20px 60px 0px #59B9DB;
        cursor: pointer;
    }
    .react2 button:hover::after{
        opacity:1;
        cursor: pointer;
    }
       .rect2 img{
        position: relative;
        max-width:100%;
        max-height: 100%;
        
    }
    .rect2 button:focus{
    border:3px solid blue;
    }