.trend h1{
    position: absolute;
    font-size: 35px;
    width: 554px;
    height: 50px;
    left:131px;
    top:850px;
}

.contenttrend {
    position:absolute;
    font-size: 16px;
    top:936px;
    left:121px;
    height:30px;
    width: 555px;
}
.ProdCard1{
    position: absolute;
   width: 400px;
   height: 600px;
   left: 126px;
   top:1000px;
   background: #ffffff;
   border-radius: 16px;
   box-shadow: 1px 1px 17px 1px black;
   
}
.prodimage1 img{
    height:434px;
    border-radius: 16px 16px 0 0;
}
.prodimage1 img::after{
    content: '';
    
    position: absolute;  
    opacity:0;
}
.prodimage1 img:hover{
    -webkit-transform:scale(1.05, 1.05) ;
    transform:scale(1.05, 1.05);
    box-shadow: 0px 2px 2px 0px BLACK;
    cursor: pointer;
}
.prodimage1 img:hover::after{
    opacity:1;
    cursor: pointer;

}
.prodimage1 img:focus{
border:3px solid blue;
}
.avatar img{
    background: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 4px;
    transform: translate(44px, -24px);
}
.detailbox1 {
    height: 165px;
}
.detailbox1 p{
    font-weight:bold;
    width:101px;
    height:18px;
    font-size: 16px;
    transform: translate(110px, -65px);
    color:#c4c4c4;
}
.detailbox1 h3{
    width:100px;
    height:18px;
    font-size: 15px;
    transform: translate(250px,-96px);
    color:#025588;
}
.detailbox1 h4{
    width:260px;
    height:25px;
    font-size: 18px;
    transform: translate(50px,-110px);
    color:black;
}
.detailbox1 h5{
    width:150px;
    height:18px;
    font-size: 15px;
    transform: translate(50px,-135px);
    color:#c4c4c4;
}
.detailbox1 h6{
    width:150px;
    height:18px;
    font-size: 15px;
    transform: translate(50px,-155px);
    color:#FF7897 ;
}
.detailbox1 button{
    width: 80px;
    height: 32px;
    border-radius: 7px;
    border: 1px solid;
    background: #025588;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transform: translate(280px,-215px);

}
.detailbox1 button:hover{
    border-color: #2691d9;
    transition: 0.3s;
    }   
    .view_Item1 button{
        transform:translate(340px,-230px);
        background: transparent;
        outline: none;
        border: none;
    }

    .ProdCard_2{ 
        position: absolute;
       width: 400px;
       height: 600px;
       left: 560px;
       top:1000px;
       background: #ffffff;
       border-radius: 16px;
       box-shadow: 1px 1px 17px 1px black;
       
    }
    .prodimage2 img{
        height:434px;
        border-radius: 16px 16px 0 0;
    }
    .prodimage2 img::after{
        content: '';
        
        position: absolute;  
        opacity:0;
    }
    .prodimage2 img:hover{
        -webkit-transform:scale(1.05, 1.05) ;
        transform:scale(1.05, 1.05);
        box-shadow: 0px 2px 2px 0px BLACK;
        cursor: pointer;
    }
    .prodimage2 img:hover::after{
        opacity:1;
        cursor: pointer;
    
    }
    .prodimage2 img:focus{
    border:3px solid blue;
    }
    .avatar img{
        background: #ffffff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 4px;
        transform: translate(44px, -24px);
    }
    .detailbox2 {
        height: 165px;
    }
    .detailbox2 p{
        font-weight:bold;
        width:101px;
        height:18px;
        font-size: 16px;
        transform: translate(110px, -65px);
        color:#c4c4c4;
    }
    .detailbox2 h3{
        width:100px;
        height:18px;
        font-size: 15px;
        transform: translate(250px,-96px);
        color:#025588;
    }
    .detailbox2 h4{
        width:260px;
        height:25px;
        font-size: 18px;
        transform: translate(50px,-110px);
        color:black;
    }
    .detailbox2 h5{
        width:150px;
        height:18px;
        font-size: 15px;
        transform: translate(50px,-135px);
        color:#c4c4c4;
    }
    .detailbox2 h6{
        width:150px;
        height:18px;
        font-size: 15px;
        transform: translate(50px,-155px);
        color:#FF7897 ;
    }
    .detailbox2 button{
        width: 80px;
        height: 32px;
        border-radius: 7px;
        border: 1px solid;
        background: #025588;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 500;
        cursor: pointer;
        outline: none;
        transform: translate(280px,-215px);
    
    }
    .detailbox2 button:hover{
        border-color: #2691d9;
        transition: 0.3s;
        }   
        .view_Item2 button{
            transform:translate(340px,-230px);
            background: transparent;
            outline: none;
            border: none;
        }
    
         .ProdCard3{
             position: absolute;
            width: 400px;
            height: 600px;
            left: 990px;
            top:1000px;
            background: #ffffff;
            border-radius: 16px;
            box-shadow: 1px 1px 17px 1px black;
            
         }
         .prodimage3 img{
             height:434px;
             border-radius: 16px 16px 0 0;
         }
         .prodimage3 img::after{
             content: '';
             
             position: absolute;  
             opacity:0;
         }
         .prodimage3 img:hover{
             -webkit-transform:scale(1.05, 1.05) ;
             transform:scale(1.05, 1.05);
             box-shadow: 0px 2px 2px 0px BLACK;
             cursor: pointer;
         }
         .prodimage3 img:hover::after{
             opacity:1;
             cursor: pointer;
         
         }
         .prodimage3 img:focus{
         border:3px solid blue;
         }
         .avatar img{
             background: #ffffff;
             border-radius: 50%;
             width: 50px;
             height: 50px;
             padding: 4px;
             transform: translate(44px, -24px);
         }
         .detailbox3 {
             height: 165px;
         }
         .detailbox3 p{
             font-weight:bold;
             width:101px;
             height:18px;
             font-size: 16px;
             transform: translate(110px, -65px);
             color:#c4c4c4;
         }
         .detailbox3 h3{
             width:100px;
             height:18px;
             font-size: 15px;
             transform: translate(250px,-96px);
             color:#025588;
         }
         .detailbox3 h4{
             width:260px;
             height:25px;
             font-size: 18px;
             transform: translate(50px,-110px);
             color:black;
         }
         .detailbox3 h5{
             width:150px;
             height:18px;
             font-size: 15px;
             transform: translate(50px,-135px);
             color:#c4c4c4;
         }
         .detailbox3 h6{
             width:150px;
             height:18px;
             font-size: 15px;
             transform: translate(50px,-155px);
             color:#FF7897 ;
         }
         .detailbox3 button{
             width: 80px;
             height: 32px;
             border-radius: 7px;
             border: 1px solid;
             background: #025588;
             font-size: 18px;
             color: #e9f4fb;
             font-weight: 500;
             cursor: pointer;
             outline: none;
             transform: translate(280px,-215px);
         
         }
         .detailbox3 button:hover{
             border-color: #2691d9;
             transition: 0.3s;
             }   
             .view_Item3 button{
                transform:translate(340px,-230px);
                background: transparent;
                outline: none;
                border: none;
            }
     