@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --primaryBlue: #025588;
  --primaryPink: #FF7897;
  --white: #ffff;
  --lightgray: #F2F5FA;
  --secondaryBlue: #DCF9FF;
  --fontcolor: #4F5665;
  --fontcolorlight: #828282;
  --maxwidth: 1280px;
}
@mixin fontStyle($weight, $size, $height) {
  font-family: Inter;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
.content-max-width{
  max-width: var(--maxwidth);
  margin: auto;
}
//Divide Layout
.product-content{
  display: flex;
  justify-content: space-around;
}

.product-image{
  width: 580px;
  height: 80vh;
  background-color: var(--lightgray);
  border-radius: 30px;
  filter: drop-shadow(0px 24px 64px rgba(0, 68, 255, 0.02));
  position: relative;
  img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 30px;
  }
}
.title{
  @include fontStyle(700, 48px, 80px);
  margin-bottom: 12px;
}
.category-list{
  height: 550px;
  width: 530px;
  overflow-y: auto;
}
.cate-name{
  @include fontStyle(600,18px ,18px);
}
.cate-item{
  display: flex;
  width: 510px;
  height: 180px;
  overflow-x: auto;
  // scrollbar-width: none;
  margin-bottom: 20px;
  // scrollbar-width: thin;
}
.item-image{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-right: 10px;
  position: relative;
  > img{
    margin-top: 10px;
    width: 150px;
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
  }
  &:hover{
    filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));
  }
}
//Custom scrollbar
// /* width */
.cate-item{
  >::-webkit-scrollbar {
    width: 5px;
  }
}


/* Track */
::-webkit-scrollbar-track {
  background: #dedede;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryBlue);
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 5px;
}

//Control button
.control-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .custom-tooltip{
    visibility: hidden;
  }
  .func-name{
    margin-bottom: 50px;
    >p{
      text-align: center;
      width: 50px;
      @include fontStyle(600,14px,20px);
      color: var(--fontcolor);
    }
    >.control-blue{
      width: 50px;
      height: 50px;
      border-radius: 80px;
      background-color: var(--primaryBlue);
      // margin-bottom: 50px;
      position: relative;
      color: var(--primaryBlue);
      >img{
        width: 25px;
        height: 25px;
      }
    }
    >.control-pink{
      width: 50px;
      height: 50px;
      border-radius: 80px;
      background-color: var(--primaryPink);
      // margin-bottom: 50px;
      &:hover{
        box-shadow: 0px 8px 24px rgba(255, 120, 151, 0.1), 0px 16px 32px rgba(255, 120, 151, 0.08);
      }
    }
  }

}

//Action-button
.action-btn{
  margin: 20px 0px;
  text-align: center;
}
.view-detail{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: var(--primaryPink);
    background-color: white;
    /* background-color: transparent; */
    position: absolute;
    text-align: center;
    bottom: 0px;
    right: 0px;
    > i{
      margin: auto;
      font-size: 16px;
    }
}

//Draggable item
// #mydiv, #mydiv2 {
  div[id^="mydiv"] {
  position: absolute;
  width: 150px;
  z-index: 9;
  background-color: transparent;
  text-align: center;
  // border: 1px solid #d3d3d3;
  // width: 150px;
  // height: 150px;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

//Delete Selected Item
// .delete-photosup1{
[class^="delete-photosup"] {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--fontcolor);
  border: 1px solid var(--white);
  position: absolute;
  z-index: 20;
  top: -10px;
  right: -10px;
  > i{
    text-align: center;
    margin-left: 5px;
    font-size: 18px;
    display: flex;
    z-index: 10;
    }
  }