.slider {
    position: relative;
    height: 100vh;
    width:1440px;
    top:170px;
    left:106px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar{
      width:8px;
      height:8px
  }
  ::-webkit-scrollbar-thumb{
      background-image: linear-gradient(#FF7897,#025588);
      border-radius: 2px;
  }
  ::-webkit-scrollbar-track{
      background-color: #e5e5e5;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
   
  }
  
  .slide {
    opacity: 1;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }


   div.clt{
    position: absolute;
    font-size: 35px;
    top:1679px;
    left:106px;
} 